* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body, html {
  background: #5f2c82;
  width: 100vw;
  height: 100vh;
}

main {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#login {
  background: #fff;
  width: 250px;
  height: 515px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);

  transition: width .3s, height .3s;
}

#img {
  background: #5f2c82 url('../predio.jpg') left bottom no-repeat;
  height: 200px;
  background-size: cover;
  display: block;
}

#form {
  padding: 10px;
  display: block;
}

.input {
  background: #5f2c82;
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  margin: 5px 0;
}

.input .material-symbols-outlined {
  font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 0;
  color: #fff;
  font-size: 2em;
  margin: 0;
  width: 40px;
  padding: 5px;
}


input {
  background: transparent;
  border: none;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  width: calc(100% - 45px);
  transform: translateY(-2px);
}

form label {
  display: none;
}

input[type=submit] {
  display: block;
  width: 100%;
  background: #49a09d;
  height: 40px;
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

input[type=submit]:hover {
  background: #428d8c;
  cursor: pointer;
}

form > a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 1em;
  width: 100%;
  height: 40px;
  color: #fff;
  background: #4fdbd9;
  border-radius: 5px;
  border: 1px solid #428d8c;
  margin-top: 5px;
}

a > .material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 900,
    'GRAD' 1,
    'opsz' 48;
  font-size: 20px;
    
}